.twick-timeline-scroll-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
}
/* Timeline Container Styles */
.twick-timeline-container {
  display: flex;
  height: 2.75rem;
  position: relative;
}

.twick-timeline-header-container {
  position: sticky;
  left: 0;
  z-index: 30;
}

.twick-seek-track-container {
  display: flex;
  position: relative;
  min-width: 100%;
  height: 2rem;
  width: 100%;
}

.twick-seek-track-container-no-scrollbar {
  display: flex;
  position: relative;
  min-width: 100%;
  height: 2rem;
  width: 100%;
  /* Hide scrollbar for all browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.twick-seek-track-container-no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.twick-seek-track-empty-space {
  position: sticky;
  left: 0;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  min-width: 40px;
  height: 34px;
  background-color: #171717;
}

.twick-seek-track {
  position: relative;
  width: 100%;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  background-color: #171717;
}

.twick-seek-track-canvas {
  min-width: 100%;
  height: 2rem;
}

.twick-seek-track-playhead {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  cursor: ew-resize;
}

.twick-seek-track-pin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 1.5px;
  background-color: #FFFFFF;
}

.twick-seek-track-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.75rem;
  height: 0.75rem;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 25%;
}

.twick-track-element {
  position: absolute;
  height: 100%;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out;
}

.twick-track-element-selected {
  border: 2px solid #FFFFFF;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.8);
}

.twick-track-element-default {
  border: 1px solid #d1d1d1;
}

.twick-track-element-dragging {
  border: 1px solid #ffffff;
}

.twick-track-element-content {
  display: flex;
  user-select: none;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: grab;
  transition: background-color 0.2s ease-in-out;
  padding: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.twick-track-element-handle {
  position: absolute;
  width: 2px;
  height: 60%;
  cursor: ew-resize;
  transition: background-color 0.2s ease-in-out;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 25%;
  z-index: 10;
}

.twick-track-element-handle-start {
  left: 0px;
}

.twick-track-element-handle-end {
  right: -2px;
}

.twick-track-element-frame-effect {
  position: absolute;
  flex: 1;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  opacity: 0.5;
}

.twick-track-header {
  display: flex;
  flex: none;
  position: relative;
  width: 40px;
  height: 100%;
  background-color: #171717;
  border-right: 1px solid #262626;
  align-items: center;
}


.twick-track-header-selected {
  border: 2px solid #FFFFFF;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.8);
  outline: 2px solid #FFFFFF;
}

.twick-track-header-default {
  border: 1px solid #404040;
}

.twick-track-header-lock {
  position: absolute;
  top: 14px;
  right: 2px;
  width: 16px;
  height: 16px;
  z-index: 20;
  color: #333;
}

.twick-track-header-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
}

.twick-track-header-grip {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  width: 20px;
  height: 20px;
  cursor: grab;
}

.twick-track-header-name {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
}

.twick-track {
  min-width: 100%;
  position: relative;
  height: 2.5rem;
  margin-top: 2px;
  background-color: #474747;
}
